@model IList<LoyaltyProgram.ViewModels.PromotionViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{

    <link href="~/Content/Scripts/ekko-lightbox/ekko-lightbox.css" rel="stylesheet" />
}
<div class="col-12">
    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">
                Redeem Your Points
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                @foreach (var promotion in Model)
                {
                <div class="col-sm-2" id="redeemPromotionDiv_@promotion.PromotionId">
                    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>*@
                    @if (promotion.isRedeemable == true)
                    {
                        <a href=""  data-toggle="modal" data-target="#promotionModal_@promotion.PromotionId">

                            <img src="@promotion.Partner.PartnerLogo" class="img-fluid mb-2" alt="@promotion.PromotionType" />
                        </a>
                    }
                    else
                    {
                        <a href="" class="btn disabled" data-toggle="modal" data-target="#promotionModal_@promotion.PromotionId">

                            <img src="@promotion.Partner.PartnerLogo" class="img-fluid mb-2" alt="@promotion.PromotionType" />
                        </a>
                    }

                </div>
                    <div class="modal fade" id="promotionModal_@promotion.PromotionId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="promotionModalLabel">Redeem Rewards</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @using (Html.BeginForm("RedeemPoints", "RedeemPoints",new { promotionId = promotion.PromotionId}, FormMethod.Post, new { id = "redeemForm" + promotion.PromotionId.ToString() }))
                                    {
                                        <div id="promotionSelectedDiv_@promotion.PromotionId" class="form-group">
                                            @Html.HiddenFor(_ => promotion.PromotionId)
                                            <img src="@promotion.Partner.PartnerLogo" class="img-fluid mb-2" alt="white sample" />
                                            @*<label for="recipient-name" class="col-form-label">Recipient:</label>
                <input type="text" class="form-control" id="recipient-name">*@
                                        </div>
                                        <div class="form-group">
                                            <h3>
                                                <label for="lblPoints" class="col-form-label">Points:</label>
                                                <label for="lblPointsValue" class="col-form-label">@promotion.PromotionPoints</label>
                                            </h3>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit"  id="promotionSelected_@(promotion.PromotionId)" class="btn btn-primary">Redeem</button>
                                        </div>
                                    }
                                    </div>
                               
                            </div>
                        </div>
                    </div>

                    @*<div class="modal fade" id="promotionModal" tabindex="-1" role="dialog" aria-labelledby="promotionModal" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">@promotion.PromotionName</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="@promotion.Partner.PartnerLogo" class="img-fluid mb-2" alt="white sample" />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h5><b>Points: </b><label id="lblPromotionPoints">@promotion.PromotionPoints</label></h5>
                                        </div>
                                        <div class="col-md-8">
                                            <label>Quantity:</label>

                                            @(Html.Kendo().DropDownList()
                                         .Name("ddlQty")
                                         .DataTextField("Text")
                                         .DataValueField("Value")
                                         //.Events(e => e.Change("change"))
                                         .BindTo(new List<SelectListItem>() {

                                             new SelectListItem() {
                                                 Text = "1",
                                                 Value = "1"
                                             },
                                             new SelectListItem() {
                                                 Text = "2",
                                                 Value = "2"
                                             },
                                             new SelectListItem() {
                                                 Text = "3",
                                                 Value = "3"
                                             },
                                             new SelectListItem() {
                                                 Text = "4",
                                                 Value = "4"
                                             },
                                             new SelectListItem() {
                                                 Text = "5",
                                                 Value = "5"
                                             }
                                         })
                                         //.Value("1")
                                         .HtmlAttributes(new { @class = "form-control" })
                                            )
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="btnReedem">Redeem</button>

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display:none;">
                                    You should check in on some of those fields below.
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>*@



                    <!-- Modal -->

                }


            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Content/Scripts/ekko-lightbox/ekko-lightbox.min.js"></script>
    <script>
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });

            $('.filter-container').filterizr({ gutterPixels: 3 });
            $('.btn[data-filter]').on('click', function () {
                $('.btn[data-filter]').removeClass('active');
                $(this).addClass('active');
            });
        })
        function redeem(data) {
            debugger
            var buttonId = data.id;
            var promotionID = data.id.split('_').pop();
        }
    </script>
}


