
@model LoyaltyProgram.ViewModels.CustomerViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <style>
        .center_div {
            margin: auto;
        }
    </style>
}
<div class="row">
    <div class="col-md-12">
        <!-- general form elements disabled -->

        <div class="col-md-6 mx-auto">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title"> @Model.CustomerFirstName @Model.CustomerLastName</h3>
                </div>
              
                    <div class="card-body">
                        <div class="form-group">
                            <label for="customerFirstName"> First Name</label>
                            @Html.Kendo().TextBoxFor(_ => _.CustomerFirstName).HtmlAttributes(new { @class = "form-control", validationmessage = "Enter First Name", required = "required", @readonly = "readonly" })
                           
                        </div>
                        <div class="form-group">
                            <label for="customerLastName"> Last Name</label>
                            @Html.Kendo().TextBoxFor(_ => _.CustomerLastName).HtmlAttributes(new { @class = "form-control", validationmessage = "Enter Last Name", required = "required", @readonly = "readonly" })
                           
                        </div>
                        <div class="form-group">
                            <label for="customerEmail"> Email</label>
                            @Html.Kendo().TextBoxFor(_ => _.CustomerEmail).HtmlAttributes(new { placeholder = "e.g. myname@example.net", required = "required", @readonly = "readonly", type = "email", data_email_msg = "Email format is not valid", @class = "form-control" })

                        </div>
                        <div class="form-group">
                            <label for="customerCardNo"> Card Number</label>
                            @Html.Kendo().TextBoxFor(_ => _.CustomerCardNo).HtmlAttributes(new { @class = "form-control", required = "required", validationmessage = "Enter Loyalty Card Number", @readonly = "readonly" })
                            
                        </div>
                        <div class="form-group">
                            <label for="customerGender"> Gender</label>
                            @(Html.Kendo().DropDownListFor(_ => _.CustomerGender)
                                                                           .Name("CustomerGender")
                                                                           .DataTextField("Text")
                                                                           .DataValueField("Value")
                                                                           .BindTo(new List<SelectListItem>() {

                                                                               new SelectListItem() {
                                                                                   Text = "F",
                                                                                   Value = "F"
                                                                               },
                                                                               new SelectListItem() {
                                                                                   Text = "M",
                                                                                   Value = "M"
                                                                               }
                                                                           })
                                                                           //.Value("1")
                                                                           .HtmlAttributes(new { @class = "form-control", @readonly = "readonly" })
                            )
                           

                        </div>
                        <div class="form-group">
                            <label for="customerDOB"> DOB</label>
                            @(Html.Kendo().DatePickerFor(_ => _.CustomerDOB)
                                                                         .Name("CustomerDOB")
                                                                         .HtmlAttributes(new { @class = "form-control", required = "required", @readonly = "readonly", validationmessage = "Select DOB" })
                            )
                         
                        </div>

                        <div class="form-group">
                            <label for="customerAddress"> Address</label>
                            @Html.Kendo().TextBoxFor(_ => _.CustomerAddress).HtmlAttributes(new { @class = "form-control", required = "required", @readonly = "readonly", validationmessage = "Enter Address" })
                         
                        </div>
                        <div class="form-group">
                            <label for="customerCity"> City</label>
                            @Html.Kendo().TextBoxFor(_ => _.CustomerCity).HtmlAttributes(new { @class = "form-control", required = "required", validationmessage = "Enter City", @readonly = "readonly" })
                          
                        </div>
                        <div class="form-group">
                            <label for="customerProvince"> Province</label>
                            @Html.Kendo().TextBoxFor(_ => _.CustomerProvince).HtmlAttributes(new { @class = "form-control", required = "required", validationmessage = "Enter Province", @readonly = "readonly" })
                           
                        </div>
                        <div class="form-group">
                            <label for="customerPostalCode"> Postal Code</label>
                            @Html.Kendo().MaskedTextBoxFor(_ => _.CustomerPostalCode).Mask("L0L0L0").HtmlAttributes(new { placeholder = "Enter Postal Code (A1A1A1)", @readonly = "readonly", @class = "form-control", required = "required", validationmessage = "Enter Postal Code" })
                         
                        </div>

                        <div class="form-group">
                            <label for="customerPhone"> Phone Number</label>
                            @Html.Kendo().TextBoxFor(_ => _.CustomerPhoneNumber).HtmlAttributes(new { @class = "form-control", pattern = "\\d{10}", required = "required", type = "tel", validationmessage = "Enter ten digits number", @readonly = "readyonly" })
                          
                        </div>

                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-2">
                                <a href="/ManageCustomers/Index" class="btn btn-primary">Back</a>
                                @*<button type="button" id="btnEdit" class="btn btn-primary"> Edit</button>
                                <button type="submit" id="btnSubmit" class="btn btn-primary" style="display:none;"> Update</button>*@
                            </div>
                            <div class="col-md-2">
                                @*<button type="button" id="btnCancel" class="btn btn-dark"> Cancel</button>*@
                            </div>
                        </div>




                    </div>




                
            </div>
        </div>
    </div>


</div>



