
@model LoyaltyProgram.ViewModels.CustomerViewModel
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-md-12">
    <!-- general form elements disabled -->

    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title">MyProfile</h3>
        </div>


        <div class="card-body">
            @using (Html.BeginForm("MyProfile", "Profile", FormMethod.Post, new { id = "myprofileform" }))
            {
                <div class="row">
                    <div class="col-sm-12">
                        <!-- firstname input -->
                        <div class="form-group">
                            @Html.Kendo().TextBoxFor(_ => _.CustomerFirstName).HtmlAttributes(new { @class = "form-control", validationmessage = "First Name not Present", @readonly = "readonly" })
                            <span class="k-invalid-msg" data-for="CustomerFirstName"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <!-- lastname input -->
                        <div class="form-group">
                            @Html.Kendo().TextBoxFor(_ => _.CustomerLastName).HtmlAttributes(new { @class = "form-control", required = "required", validationmessage = "Last Name not Present", @readonly = "readyonly" })
                            <span class="k-invalid-msg" data-for="CustomerLastName"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- email input -->
                        <div class="form-group">
                            @Html.Kendo().TextBoxFor(_ => _.CustomerEmail).HtmlAttributes(new { @class = "form-control", required = "required", validationmessage = "Email not Present", @readonly = "readyonly" })
                            <span class="k-invalid-msg" data-for="CustomerEmail"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- email input -->
                        <div class="form-group">
                            @Html.Kendo().TextBoxFor(_ => _.CustomerCardNo).HtmlAttributes(new { @class = "form-control", required = "required", validationmessage = "CardNo not present ", @readonly = "readyonly" })
                            <span class="k-invalid-msg" data-for="CustomerCardNo"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <!-- genderselect -->
                        <div class="form-group">
                            @(Html.Kendo().DropDownListFor(_ => _.CustomerGender)
                                          .Name("CustomerGender")
                                          .DataTextField("Text")
                                          .DataValueField("Value")
                                          //.Events(e => e.Change("change"))
                                          .BindTo(new List<SelectListItem>() {

                                              new SelectListItem() {
                                                  Text = "Female",
                                                  Value = "F"
                                              },
                                              new SelectListItem() {
                                                  Text = "Male",
                                                  Value = "M"
                                              }
                                          })
                                          //.Value("1")
                                          .HtmlAttributes(new { @class = "form-control", @readonly = "readyonly" })
                            )
                            <span class="k-invalid-msg" data-for="CustomerGender"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- DOB -->
                        <div class="form-group">
                            @(Html.Kendo().DatePickerFor(_ => _.CustomerDOB)
                                        .Name("CustomerDOB")
                                        .HtmlAttributes(new { @class = "form-control", required = "required", validationmessage = "select DOB", @readonly = "readonly" })
                            )
                            <span class="k-invalid-msg" data-for="CustomerDOB"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Address-->
                        <div class="form-group">
                            @Html.Kendo().TextBoxFor(_ => _.CustomerAddress).HtmlAttributes(new { @class = "form-control", required = "required", validationmessage = "Enter Address", @readyonly = "readyonly" })
                            <span class="k-invalid-msg" data-for="CustomerAddress"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- city-->
                        <div class="form-group">
                            @Html.Kendo().TextBoxFor(_ => _.CustomerCity).HtmlAttributes(new { @class = "form-control", required = "required", validationmessage = "City not present", @readyonly = "readyonly" })
                            <span class="k-invalid-msg" data-for="CustomerCity"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Province-->
                        <div class="form-group">
                            @Html.Kendo().TextBoxFor(_ => _.CustomerProvince).HtmlAttributes(new { @class = "form-control", required = "required", validationmessage = "Province not Present", @readonly = "readonly" })
                            <span class="k-invalid-msg" data-for="CustomerProvince"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Postal Code-->
                        <div class="form-group">
                            @Html.Kendo().MaskedTextBoxFor(_ => _.CustomerPostalCode).Mask("L0L0L0").HtmlAttributes(new { @class = "form-control", required = "required", validationmessage = "Postal Code Not Present", @readonly = "readyonly" })
                            <span class="k-invalid-msg" data-for="CustomerPostalCode"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- Phone Number-->
                        <div class="form-group">
                            @Html.Kendo().TextBoxFor(_ => _.CustomerPhoneNumber).HtmlAttributes(new { @class = "form-control", pattern = "\\d{10}", required = "required", type = "tel", validationmessage = "Enter at least ten digits", @readonly = "readyonly" })
                            <span class="k-invalid-msg" data-for="CustomerPhoneNumber"></span>
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary">Edit Profile
                    @Html.ActionLink("EditProfile", "Index", "Update", null, new { style = "float: left;" })
                    </button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>


                $(document).ready(function () {
                    var validator = $("form").kendoValidator().data("kendoValidator");
                    var status = $(".status");

                });

    </script>


